@import '../../styles/sassconfig';

.navigationBar {
    padding-top: 2rem;
    padding-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

    & .logo {
        
        @include respond(phone) {
            width: 40px;
            height: 40px;
        }

    }
}

.navigation {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    background: rgba(255, 255, 255, 0.04);
    background: hsl( var(--clr-white) / 0.05);
    backdrop-filter: blur(81.5485px);
    width: 58%;
    padding-inline: 5rem 6rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    @include respond(tab-land) {
        width: 65%;
        padding-inline: 3rem 3rem;
    }

    @include respond(tab-port) {
        display: none;
    }

    
    li {
        display: inline;
        border-bottom: 3px solid hsla(0, 0%, 100%, 0);
        cursor: pointer;
        font-size: 1rem;
        list-style: none;
        padding: 2rem 0 2rem 0;

        @include respond(tab-land) {
            font-size: .875rem;
        }
    }

    // li:not(:last-child) {
    //     margin-right: 3rem;
    // }

    li:hover {
        border-bottom: 3px solid hsl(0, 0%, 100%, .5);
    }

    a {
        color: #fff;
        padding: 2rem 0 2rem 0;
        text-decoration: none;
    }

    span {
        font-weight: 700;
        margin-right: 5px;

        @include respond(tab-land) {
            display: none;
        }
    }

    &::before {
        content: '';
        width: 64%;
        height: 1px;
        background-color: hsl(0, 0%, 100%, .2);
        position: absolute;
        top: 50%;
        left: -60%;

        @include respond(tab-land) {
            display: none;
        }

    }

 
}

.hamburger {
    display: none;

    @include respond(tab-port) {
        display: block;
    }

    // & * {
    //     display: inherit;
    // }
}

