@import '../styles/sassconfig';

.destinationContainer {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../public/images/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(tab-port) {
        background-image: url(../public/images/destination/background-destination-tablet.jpg);
    }

    @include respond(phone) {
        background-image: url(../public/images/destination/background-destination-mobile.jpg);
    }

}

.destinationContent {

    padding-inline: 10rem;
    padding-bottom: 4rem;
    margin-top: 5rem;
    max-width: 1440px;
    margin-inline: auto;

    @include respond(tab-land) {
        padding-inline: 6rem;
    }

    @include respond(tab-port) {
        padding-inline: 5rem;
    }

    @include respond(phone) {
        padding-inline: 2rem;
    }

    h1 {
        text-transform: uppercase;
        font-family: var(--ff-sans-cond);
        font-size: 1.75rem;
        letter-spacing: 4.725px;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            font-size: 1.25rem;
            letter-spacing: 3.38px;
        }

        @include respond(phone) {
            text-align: center;
            font-size: 1rem;
            margin-bottom: 2.5rem;
        }
    }

    span {
        color: hsl( var(--clr-white ) / .25);
        margin-right: 1rem;
        font-weight: 700;
    }

    // article {
    //     display: flex;
    //     gap: 8rem;

    //     @include respond(tab-land) {
    //         gap: 6rem;
    //     }

    //     @include respond(tab-port) {
    //         flex-direction: column;
    //         align-items: center;
    //         gap: 5rem;
    //     }
    // }
}

.button {
        border: none;
        cursor: pointer;
        background-color: transparent;
        text-transform: uppercase;
        font-family: var(--ff-sans-cond);
        font-size: 1rem;
        color: hsl( var(--clr-light) );
        letter-spacing: 2.7px;
        //padding: .8rem 0 .8rem 0;
        padding-bottom: .8rem;
        border-bottom: 3px solid transparent;
        transition: all .2s;

        @include respond(phone) {
            font-size: 0.875rem;
            letter-spacing: 2.36px;
        }

        &:not(:last-of-type) {
            margin-right: 1rem; 
        }

        &:hover {
            border-bottom: 3px solid hsl( var(--clr-light ) );
        }
    }

    
.active {
    border-bottom: 3px solid white;
}   