.homeContainer {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../public/images/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: center center;
}