@import '../styles/sassconfig';

.techContainer {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../public/images/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(tab-port) {
        background-image: url(../public/images/technology/background-technology-tablet.jpg);
        background-position: center center;
    }

    @include respond(phone) {
        background-image: url(../public/images/technology/background-technology-mobile.jpg);
        background-position: center top;
    }

}

.techContent {

    padding-left: 10rem;
    padding-bottom: 4rem;
    margin-top: 5rem;
    max-width: 1440px;
    margin-inline: auto;

    @include respond(tab-land) {
        //padding-inline: 6rem;
        padding-left: 6rem;
    }

    @include respond(tab-port) {
        padding-left: 0;
    }

    @include respond(phone) {
        //padding-inline: 2rem;
    }

    h1 {
        text-transform: uppercase;
        font-family: var(--ff-sans-cond);
        font-size: 1.75rem;
        letter-spacing: 4.725px;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            font-size: 1.25rem;
            letter-spacing: 3.38px;
            padding-left: 5rem;
        }

        @include respond(phone) {
            text-align: center;
            font-size: 1rem;
            margin-bottom: 2.5rem;
            padding-left: 0;
        }
    }

    span {
        color: hsl( var(--clr-white ) / .25);
        margin-right: 1rem;
        font-weight: 700;
    }


}

.button {
    // align-self: center;
    // justify-self: center;
    width: 80px;
    height: 80px;
    //padding: 1rem;
    font-size: 2rem;
    font-family: var(--ff-serif);
    border: 1px solid hsl( var(--clr-light ) );
    border-radius: 50%;
    background-color: transparent;
    color: hsl( var(--clr-white ) );
    transition: all .2s;
    cursor: pointer;

    @include respond(tab-port) {
        font-size: 1.5rem;
        width: 60px;
        height: 60px;
    }

    @include respond(phone) {
        font-size: 1rem;
        width: 40px;
        height: 40px;
    }

    &:hover {
        background-color: hsl( var(--clr-white ) );
        color: hsl( var(--clr-dark ) );
    }
}

.active {
    background-color: hsl( var(--clr-white ) );
    color: hsl( var(--clr-dark ) );
}

// .buttonList {
//     flex: .2;
//     align-self: center;
//     display: flex;
//     flex-direction: column;
//     gap: 1.5rem;

    
//     @include respond(tab-port) {
//         flex-direction: row;
//         order: 2;
//     }
    
//     @include respond(phone) {
//         gap: 1rem;
//     }

//     button {
//         // align-self: center;
//         // justify-self: center;
//         width: 80px;
//         height: 80px;
//         //padding: 1rem;
//         font-size: 2rem;
//         font-family: var(--ff-serif);
//         border: 1px solid hsl( var(--clr-light ) );
//         border-radius: 50%;
//         background-color: transparent;
//         color: hsl( var(--clr-white ) );
//         transition: all .2s;

//         @include respond(tab-port) {
//             font-size: 1.5rem;
//             width: 60px;
//             height: 60px;
//         }

//         @include respond(phone) {
//             font-size: 1rem;
//             width: 40px;
//             height: 40px;
//         }

//         &:hover {
//             background-color: hsl( var(--clr-white ) );
//             color: hsl( var(--clr-dark ) );
//         }
//     }
// }

// .techText {
//     flex: 1;
//     align-self: center;

    
//     @include respond(tab-port) {
//         text-align: center;
//         padding-inline: 5rem;
//         order: 3;
//     }
    
//     @include respond(phone) {
//         padding-inline: 2rem;
//     }

//     h2 {
//         font-size: 1rem;
//         letter-spacing: 2.7px;
//         line-height: 19.2px;
//         color: hsl( var(--clr-light ) );
//         font-family: var(--ff-sans-cond);
//         margin-bottom: .8rem;

//         @include respond(phone) {
//             font-size: 0.875rem;
//             margin-bottom: .5rem;
//         }
//     }

//     h3 {
//         font-size: 3.5rem;
//         font-family: var(--ff-serif);
//         line-height: 64.18px;
//         margin-bottom: 1.2rem;

//         @include respond(tab-port) {
//             font-size: 2.5rem;
//             line-height: 45.84px;
//         }

//         @include respond(phone) {
//             font-size: 1.5rem;
//             line-height: 27.5px;
//         }
//     }

//     p {
//         font-size: 1.125rem;
//         line-height: 32px;
//         color: hsl( var(--clr-light ) );

//         @include respond(tab-port) {
//             font-size: 1rem;
//             line-height: 28px;
//         }

//         @include respond(phone) {
//             font-size: 0.9375rem;
//             line-height: 25px;
//         }
//     }
// }

// .pictureBox {
//     flex: 1;
//     text-align: center;

    
//     @include respond(tab-port) {
//         //display: none;
//         order: 1;
//         height: 310px;
//     }

//     @include respond(phone) {
//         height: 200px;
//     }
// }

// .backImage {
//     background-image: url(../public/images/technology/image-launch-vehicle-landscape.jpg);
//     background-size: cover;
//     background-position: center center;
//     display: none;

//     // @include respond(tab-port) {
//     //     display: block;
//     //     height: 310px;
//     // }

//     // @include respond(phone) {
//     //     height: 200px;
//     // }

// }